#container{
    display: flex;
    justify-content: center;
    align-items: first baseline;
    height: 100vh;
    margin: 100px;
    /* background-color: #dbdbdb; */


}


#counter{
    display: table-column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    /* border:1px solid white; */
    margin:20px;
    padding: 100px;
    background-color: #e80909;

    
}

#button{
    /* border:1px solid white; */
    margin: 10px 20px 10px 20px;
    padding: 10px 10px 10px 10px;
    
    
    
}